<div class='medods-versions'>
  <a href="/list/v40">v40</a><a href="/list/v39">v39</a><a href="/list/v38">v38</a></a><a href="/expired_certs">Уведомления</a>
</div>
<table id="vpn-connections" border="1" width="1000px">
  <thead>
    <tr>
      <th width="50%"> Название клиники  </th>
      <th width="20%"> Модули  </th>
      <th width="6%"> Версия </th>
      <th width="12%"> Истечение сертификата </th>
      <th width="12%"> Дата обращения к серверу </th>
    </tr>
  </thead>
  <tbody>
    <% connections.each do |c| %>
      <% if Time.now.to_i - c['unixdate'].to_i > 700 %>
        <tr class="warning-row">
      <% else %>    
        <tr>
      <% end %>    
        <td class="title-column" width="50%"> <%= c['clinic_name'] %></td>
        <td width="20%"> <%= c['modules'] %></td>
        <td width="6%"> <%= c['version'] %></td>
        <td width="12%"> <%= c['sert'] %></td>
        <td class="time-column" width="12%"> <%= c['last_connect'] %></td>
        <td class="outdate-warning">
          <span>
          <% if Time.now.to_i - c['unixdate'].to_i > 604800 %>  
            !
          <% end %>
        </span>
      </td>
      </tr>  
    <% end %>
  </tbody>
</table>

